<head>
    {% load static from staticfiles %}
    <script language="javascript" type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery.flot.selection.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript" src="/static/js/plotter.js"></script>
    <script type="text/javascript" src="scaling_functions.js/"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="/static/js/date_picker.js"></script>
    <link rel="stylesheet" media="all" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.7.3.custom.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/static/css/display_nodes.css" />
</head>
<body>

    <div>
        {% if user.first_name %}
            {{user.first_name}} {{user.last_name}} (<a href="/portcullis/logout/">logout</a>)
        {% endif %}
    </div>



<h1> Sensor Readings</h1>

    <h2 id="utc_stamp"></h2>
    

<!-- Date range form -->
<form class="date_form" >
    {% csrf_token %}
    {% ifequal start None %}
        Start: <input type="text" name ="start" id="start" value=""/>
    {% else %}
        Start: <input type="text" name ="start" id="start" value="{{start}}"/>
    {% endifequal %}

    {% ifequal end None %}
        End: <input type="text" name = "end" id="end" value="" />
    {% else %}
        End: <input type="text" name = "end" id="end" value="{{end}}" />
    {% endifequal %}

    <input type="hidden" name = "to_epoch" value ="true" />

    {% ifequal granularity None %}
        Number of datapoints: <input type="text" name = "granularity" id="granularity" value="300" />
    {% else %}
        Number of datapoints: <input type="text" name = "granularity" id="granularity" value="{{granularity}}" />
    {% endifequal %}

    <input type="button" value="Submit" onClick="submit_form()" />
</form>

    <a id="share_link" href="/" ><div>Share this view</div></a>

    {% for stream in streams%}
    <!-- Create a placeholder for each datastream -->
        <h4>Node:{{stream.node_id}} Port:{{stream.port_id}}</h4>
        <b id = "graph_title{{stream.id}}">  </b>
        <div id ="{{stream.id}}" class="portcullis-graph">
            <div id="sensor{{stream.id}}" class="sensor_graph" ></div>
            <div id="overview{{stream.id}}" class = "overview_graph"></div>
        </div>
        <br>


    {% endfor %}



   <div id="debug"></div>
</body>
