
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.css" />
<script type="text/javascript" src="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.js"></script>

<div id="graph_container_heading">
    <h1> Sensor Readings</h1>

    <h2 id="utc_stamp"></h2>


    <a id="share_link" onclick="saveView();" href="#" >Share this view</a>
    <div id="savedViewLink"></div>
</div>
<div id="graph_container">

    <!-- Create a placeholder for each datastream -->
    {% for stream in streams%}
    <div id="graph_container_{{stream.id}}" class="graph_container"> 
        <div id ="{{stream.id}}" class="portcullis-graph">
            <b id = "graph_title{{stream.id}}" class="graph_title"> </b>
            <div id="sensor{{stream.id}}" class="sensor_graph" ></div>
            <div id="overview{{stream.id}}" class = "overview_graph"></div>
        </div><!--end graph div-->
        
        <div id="{{stream.id}}_csv_container" style="display: none"><!--csv div-->
            <textarea id="sensor{{stream.id}}_csv"></textarea>
        </div><!--end csv div-->
        
        <div id="graph_selection_{{stream.id}}" class="graph_selection" style="display: none;">
            Time: <span id="selected_time_{{stream.id}}"></span>
            Value: <span id="selected_value_{{stream.id}}"></span>
        </div>

        <div class="section_toggle graph_toggle" onclick="toggle_form_section(event)">Advanced Options</div>
        <div id="advanced_options_{{stream.id}}" class="advanced_options">
            <div id="stream_data_container_{{stream.id}}" class="stream_data_container">
                <ul>
                    <li>Node: {{stream.node_id}}</li>
                    <li>Port: {{stream.port_id}}</li>
                    <li>Data In Range: <span id="datapoints_{{stream.id}}"></span></li>
                    <li>Actual Data Shown: <span id="actual_datapoints_{{stream.id}}"></span></li>
                    <li>Start Range: <span id="start_range_{{stream.id}}"></span></li>
                    <li>End Range: <span id="end_range_{{stream.id}}"></span></li>
                </ul>

            </div>
            
            <div id="stream_controls_container_{{stream.id}}" class="stream_controls_container">
                <input type="button" value="Zoom Reset" onClick="resetZoom('{{stream.id}}');"/>
                <input type="checkbox" id="zoom_sync_{{stream.id}}" value="{{stream.id}}" class="stream_zoom" checked="checked"/> <label for="zoom_sync_{{stream.id}}">Zoom Sync</label>
                <label for="reduction_select_{{stream.id}}">Reduction Type:</label>
                <select id="reduction_select_{{stream.id}}" class="reduction_select" 
                        onchange="loadGraph('{{stream.id}}', 
                                  $('#granularity').val(), 
                                  getRanges(), 
                                  graph_overview_callback(getRanges()));">
                    {% for red in reductions %}
                    {% if red == "mean" %}
                    <option value="{{red}}" selected="selected">{{red|title}}</option>
                    {% else %}
                    <option value="{{red}}">{{red|title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <p id="downloadify{{stream.id}}"><!--Place holder for download button--></p>
                <input id="minicolor_{{stream.id}}" class="minicolors" type="text"/>
            </div>
        </div><!--End advanced_options_{{stream.id}}--> 
    </div><!--End graph_container_id -->
    {% endfor %}
    <script>
        //On load function will search for any 'portcullis-graph' divs on the page.
        $("document").ready(on_graphs_load());
        loadAllGraphs(getRanges());
        collapse_all();
    </script>
</div><!--End graph_container -->

{% csrf_token %}
