<div id="graph_controls">

    <h2>Graph Controls</h2>

    <div id="graph_time_controls">
        <ul>
            <li>
                <b>Start Date:</b>
                <input type="text" name ="start" id="start" value="{{start}}"/>
            </li>
            <li class="date_range_seperator">
                or
            </li>
            <li>
                <b>Range Before End Date:</b>
                <select id="start_range" type="select" onchange="toggle_date_range(this, 'start', 'end_range');">
                    <option value="None" selected="selected">None</option>
                    <option value="One Day">One Day</option>
                    <option value="One Week">One Week</option>
                    <option value="One Month">One Month</option>
                </select>
            <li>
                <b>End Date:</b> 
                <input type="text" name ="end" id="end" value="{{end}}"/>
            </li>
            <li class="date_range_seperator">
                or
            </li>
            <li>
                <b>Range After Start Date:</b>
                <select id="end_range" type="select" onchange="toggle_date_range(this, 'end', 'start_range');">
                    <option value="None" selected="selected">None</option>
                    <option value="One Day">One Day</option>
                    <option value="One Week">One Week</option>
                    <option value="One Month">One Month</option>
                </select>
            </li> 
        </ul>
    </div>
    
    <div id="graph_controls_advanced" class="section_toggle" onclick="toggle_form_section(event);">Advanced Options</div>
    <div>
        <b>Number of datapoints:</b> 
        <input type="text" name = "granularity" id="granularity" value="{{granularity}}" />
    </div>

    <input type="hidden" name = "to_epoch" value ="true" />
    <input id="graph_options_submit" type="button" value="Submit" onClick="submit_form()" />
</div>
