<div id="graph_controls">

    <h2>Graph Controls</h2>

    <div id="graph_time_controls">
        <ul>
            <li>
                <b>Start Date</b>
                <b class="range_text">Range Before End Date</b>
            </li>
            <li class="controls_list">
                <input type="text" name ="start" id="start" value="{{start}}"/>
                <input name="start_range" id="start_none" class="start_radio" type="radio" checked="checked" onchange="toggleDateRange(this, 'start', 'end_mutable');"/> 
                <label for="start_none">None</label>
                
                <input name="start_range" id="start_day" class="start_radio start_mutable" type="radio" onchange="toggleDateRange(this, 'start', 'end_mutable');"/> 
                <label for="start_day">One Day</label>
                
                <input name="start_range" id="start_week" class="start_radio start_mutable" type="radio" onchange="toggleDateRange(this, 'start', 'end_mutable');"/>
                <label for="start_week">One Week</label>
                
                <input name="start_range" id="start_month" class="start_radio start_mutable" type="radio" onchange="toggleDateRange(this, 'start', 'end_mutable');"/>
                <label for="start_month">One Month</label>
            <li>
                <b>End Date</b> 
                <b class="range_text">Range After Start Date</b>
            </li>
            <li class="controls_list">
                <input type="text" name ="end" id="end" value="{{end}}"/>
                <input name="end_range" id="end_none" class="end_radio" type="radio" checked="checked" onchange="toggleDateRange(this, 'end', 'start_mutable');"/> 
                <label for="end_none">None</label>

                <input name="end_range" id="end_day" class="end_radio end_mutable" type="radio" onchange="toggleDateRange(this, 'end', 'start_mutable');"/> 
                <label for="end_day">One Day</label>

                <input name="end_range" id="end_week" class="end_radio end_mutable" type="radio" onchange="toggleDateRange(this, 'end', 'start_mutable');"/>
                <label for="end_week">One Week</label>

                <input name="end_range" id="end_month" class="end_radio end_mutable" type="radio" onchange="toggleDateRange(this, 'end', 'start_mutable');"/>
                <label for="end_month">One Month</label>
            </li>
            <li>Number of datapoints: <input type="text" name = "granularity" id="granularity" value="{{granularity}}" /></li>
        </ul>
    </div>
    
    <input type="hidden" name = "to_epoch" value ="true" />
    <input type="button" value="Submit" onClick="submit_form()" />
</div>
