
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.css" />
<script type="text/javascript" src="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.js"></script>

<div id="graph_container_heading">
    <h1> Sensor Readings</h1>
    
    <h2 id="utc_stamp"></h2>

    {% if token %}
    <input type="hidden" id="auth_token" value="{{token}}" />
    {% else %}
        {% if user.username == "" %}
        <a id="share_link" class="logged_out_hide" onclick="saveView();" href="#" >Share this view</a>
        {% else %}
        <a id="share_link" onclick="saveView();" href="#" >Share this view</a>
        {% endif %}
    {% endif %}
    <div id="savedViewLink"></div>
</div>

<div id="graph_container">
    {% for graph in graphs %}
    {{graph|safe}}
    {% endfor %}
    <script>
        //On load function will search for any 'portcullis-graph' divs on the page.
        $("document").ready(on_graphs_load());
        collapse_all('graph_toggle');
    </script>
</div><!--End graph_container -->

{% csrf_token %}
