[submodule "portcullis/static/plugins/mini-colors"]
	path = portcullis/static/plugins/mini-colors
	url = https://github.com/claviska/jquery-miniColors.git
[submodule "crud"]
	path = crud
	url = ssh://git@dev.visgence.com/crud
