[submodule "portcullis/static/plugins/mini-colors"]
	path = portcullis/static/plugins/mini-colors
	url = https://github.com/claviska/jquery-minicolors.git
[submodule "chucho"]
	path = chucho
	url = git://github.com/visgence/django-chucho.git
