<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/checkbox.js"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}js/user_streams.js"></script>

<div id="user_streams">
    {% if owned_streams %}
        <b> My Streams</b> </br>
        <!-- Create a checkbox for each datastream owned by this user-->
        {% for stream in owned_streams%}
            <input type="checkbox" name="owned" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
        <input type="checkbox" onClick="checkOwned(this)" /> Check All <br>

    {% endif %}
    
    {% if viewable_streams%}
        <b>Viewable Streams</b> </br>
        <!-- Create a checkbox for each public datastream -->
        {% for stream in viewable_streams%}
             <input type="checkbox" name="view" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
        <input type="checkbox" onClick="checkView(this)" /> Check All <br>
    {% endif %}

    {% if public_streams %}
        <b>Public Streams</b> </br>
        <!-- Create a checkbox for each public datastream -->
        {% for stream in public_streams%}
            <input type="checkbox" name="public" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
         <input type="checkbox" onClick="checkPublic(this)" /> Check All <br>

     {% endif %}

    </br>
    <input type="button" value="submit" onclick="load_user_graphs();"/>
</div>
