
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/datastreams.css" />

<div id="user_streams">
    
    <h2>Streams</h2>

    {% if owned_streams %}
    <div  class="section_toggle stream_clickable clickable" onclick="toggle_form_section(event);">
        <b>My Streams</b>
        <span class="collapse_state">+</span>
    </div>
    <div>
        <!-- Create a checkbox for each datastream owned by this user-->
        <ul class="streams">
            {% for stream in owned_streams%}
            <li>
                <input type="checkbox" name="owned" class="stream" id="owned_stream_{{stream.id}}" value="{{stream.id}}" /> 
                <label for="owned_stream_{{stream.id}}">{{stream.name}}</label>
            </li>
            {% endfor %}
            <li>
                <input type="checkbox" id="owned_checkall" onClick="checkOwned(this)"/>
                <label for="owned_checkall">Check All</label>
            </li>
        </ul>
    </div>
    <br/>
    {% endif %}
    
    {% if viewable_streams%}
    <div  class="section_toggle stream_clickable clickable" onclick="toggle_form_section(event);">
        <b>Viewable Streams</b>
        <span class="collapse_state">+</span>
    </div>
    <div>
        <!-- Create a checkbox for each public datastream -->
        <ul class="streams">
            {% for stream in viewable_streams%}
            <li>
                <input type="checkbox" name="view" class="stream" id="view_stream_{{stream.id}}" value="{{stream.id}}"/>
                <label for="view_stream_{{stream.id}}">{{stream.name}}</label>
            </li>
            {% endfor %}
            <li>
                <input type="checkbox" id="view_checkall" onClick="checkView(this)"/>
                <label for="view_checkall">Check All</label>
            </li>
        </ul>
    </div>
    <br/>
    {% endif %}
    
    {% if public_streams %}
    <div  class="section_toggle stream_clickable clickable" onclick="toggle_form_section(event);">
        <b>Public Streams</b>
        <span class="collapse_state">+</span>
    </div>
    <div>
        <!-- Create a checkbox for each public datastream -->
        <ul class="streams">
            {% for stream in public_streams%}
            <li>
                <input type="checkbox" name="public" class="stream" id="public_stream_{{stream.id}}" value="{{stream.id}}"/> 
                <label for="public_stream_{{stream.id}}">{{stream.name}}</label>
            </li>
            {% endfor %}
            <li>
                <input type="checkbox" id="public_checkall" onClick="checkPublic(this)"/> 
                <label for="public_checkall">Check All</label>
            </li>
        </ul>
    </div>
    <br/>
     {% endif %}
    
     <input type="button" value="submit" onclick="get_selected_streams();"/>
     <script>
        collapse_all('stream_clickable');
     </script>
</div>
