#header
{
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
}

#header_image
{
    max-width: 100%;
    min-width: 100%;
}

#base_content
{
    width: 100%;
}

body 
{
    font-size: 20px;
}
