input:disabled
{
    background: #D8D8D8;
}

select:disabled
{
    background: #D8D8D8;
}

.clickable:hover
{
    cursor: pointer;
    color: #DE4343;
}

.clickable_text
{
    color: blue;
}

.clickable_text:hover
{
    cursor: pointer;
    color: #DE4343;
}

.selected_text
{
    color: #DE4343;
}

.logged_out_hide
{
    display: none;
}

.display_none
{
    display: none;
}
