<input type="hidden" value="600" id="granularity">
<input type="hidden" id="start">
<input type="hidden" id="end">
<input type="hidden" id="custom" checked="checked">
<div id="graphs"></div>


<script type="text/javascript">
    $(function() {
    $('#start').val(dateToString(new Date({{start}}*1000))); 
    $('#end').val(dateToString(new Date({{end}}*1000))); 
    var zoom_range = {
        start: {{zoom_start}},
        end: {{zoom_end}}
    };
    var graphs = {{streams}};
    for(i in graphs)
    get_graph(graphs[i], "{{token}}", zoom_range); 
    }); 
</script>
