<html>
    <head>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-sliderAccess.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/date_picker.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>

        <link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.7.3.custom.css" />
        <link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/base.css" />
    </head>
    <body>
        <div id="header">
            <img id="header_image" src="{{STATIC_URL}}branding/header.png" usemap="#visgence_map"/>
            <map name="visgence_map">
                <area shape="rect" href="/" coords="60, 15, 320, 160" title="Go back to Portcullis home page."/>
            </map>
        </div>
        
        <div class="content">
            {% block content %} {%endblock%}
        </div>
    </body>
</html>



