
<!DOCTYPE html>
<html>
    <head>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.1.custom.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.ba-bbq.js"></script>
        
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tmpl.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/knockout-2.2.1.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/spin.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/portcullis_helper.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/login.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/layout.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.selection.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.crosshair.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/flot/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flot.axislabels.js"></script>
        
        <script type="text/javascript" src="{{STATIC_URL}}js/downloadify.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/swfobject.js"></script>


        <script type="text/javascript" src="{{STATIC_URL}}js/plotter.js"></script>
        <script type="text/javascript" src="/api/scaling_functions.js/"></script>

        <script type="text/javascript" src="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/chucho.grid.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/chucho.js"></script>
                
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}plugins/mini-colors/jquery.minicolors.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/portcullis-blue/jquery-ui-1.10.3.custom.min.css">
        
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/display_nodes.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/grid.css">
        
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">

            {% block additional-headers %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <a href="/" title="Streams">
                <img id="header_image" alt="header" src="{{STATIC_URL}}branding/header.png"/>
            </a>
            
            <div id="greeting" class="pull-right">
                {{greeting|safe}}
            </div>
        </div>

        <div class="modal fade" id="sys-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <span class="help-block"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 

        <div id="nav">
            {{nav}}
        </div>

        <div id="base-content">
            {% block content %} {%endblock%}
        </div>

        <script>
            $(function() {
                $('#sys-modal').modal({
                    backdrop: false,
                    show: false
                })
                .on('hidden.bs.modal', function() {
                    var classes = 'has-error has-success has-warning';
                    $('#sys-modal .modal-title').html('');
                    $('#sys-modal .modal-body').removeClass(classes).children('span').html('');
                });
            });
        </script>
    </body>
</html>



