<html>
    <head>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-sliderAccess.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}js/date_picker.js"></script>

        <link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.7.3.custom.css" />
    </head>
    <body>
        <div id="greeting">
            {% if user.first_name %}
            Hello {{user.first_name}} {{user.last_name}} (<a href="/portcullis/logout/">logout</a>)
            {% endif %}
        </div><!--end greeting-->
        
        <div class="content">
            {% block content %} {%endblock%}
        </div>
    </body>
</html>



