{% csrf_token %}

<div id="widget_container_heading">
</div>

<div id="widget_container">

    {{widget}}
   
    <div class="utilities" style="display:none"></div>

    {% if token or defaultStreams %}
    <script>
        //On load function will search for any 'portcullis-graph' divs on the page.
        $(function() {
            if($('#granularity').length)
                on_graphs_load({{graphIds|safe}});
            else {
                $(window).one('graphControlsRendered', function() {
                    on_graphs_load({{graphIds|safe}});
                });
            }
        });
    </script>
    {% endif %}
</div><!--End widget_container -->
