
<style>
    .slick-row.active
    {
    background: yellow;
    }
    .slick-cell.active
    {
    background: grey;
    }
    .confirmation.dialogue
    {
    z-index: 999999;
    }
</style>
<input type="hidden" id="model_name" value="{{model_name}}"/>
<div id="{{model_name}}_grid" class="grid"></div>

<script type="text/javascript">
    var myGrid = new DataGrid();
</script>

<div id="delete_confirm" title="Confirm Deletion" style="display:none">
    <div class="ui-state-highlight ui-conrner-all">
        <span class="ui-icon ui-icon-alert"></span>
        <p>
            Deleting a {{model_name|title}} may remove any related objects.  This operation cannot be
            undone.
            </p>
        <p>Do you still want to proceed?</p>
    </div>
</div>
