{% extends "base.html" %}

{% block content %}

    <link type="text/css" href="{{STATIC_URL}}plugins/slickGrid/slick.grid.css" rel="stylesheet">
    <script src="{{STATIC_URL}}plugins/slickGrid/lib/jquery.event.drag-2.0.min.js" type="text/javascript"></script>    
    <script src="{{STATIC_URL}}plugins/slickGrid/slick.core.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}plugins/slickGrid/slick.grid.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% url portcullis-model-crudjs model_name %}"></script>
    <div id="{{model_name}}_grid" style="width: 1500px; height:1000px;"></div>
    
{% endblock %}
