<div id="graph_controls">

    <h2>Graph Controls</h2>

    <div id="graph_time_controls">
        <ul> 
            <li class="period_controls">
                <input id="hour" type="radio" class="period" name="period" checked="checked" onChange="toggle_time_periods(this);"/>
                <label for="hour" class="clickable"><b>Last Hour</b></label>
            </li>
            <li class="period_controls">
                <input id="24_hours" type="radio" class="period" name="period" onChange="toggle_time_periods(this);"/>
                <label for="24_hours" class="clickable"><b>Last 24 Hours</b></label>
            </li>
            <li class="period_controls">
                <input id="week" type="radio" class="period" name="period" onChange="toggle_time_periods(this);"/>
                <label for="week" class="clickable"><b>Last Week</b></label>
            </li>
            <li class="period_controls">
                <input id="year" type="radio" class="period" name="period" onChange="toggle_time_periods(this);"/>
                <label for="year" class="clickable"><b>Last Year</b></label>
            </li>
            <li class="period_controls">
                <input id="custom" type="radio" value="custom" name="period" onChange="toggle_time_periods(this);"/>
                <label for="custom" class="clickable"><b>Custom Time Period</b></label>
            </li>
            <li class="period_controls">
                <span id="custom_period_error" style="visibility:hidden; color: red;">&nbsp;</span>
            </li>
            <li class="period_controls">
                <span class="custom_period_label"><b>Start Date</b></span>
                <input type="text" id="start" class="custom_period" disabled="disabled" value="{{start}}"/>
            
            <li class="period_controls">
                <span class="custom_period_label"><b>End Date</b></span>
                <input type="text" id="end" class="custom_period" disabled="disabled" value="{{end}}"/>
            </li>
        </ul>
    </div>

    <div id="graph_controls_refresh">
        <input type="button" value="Refresh" id="refresh" onclick="load_all_graphs();"/>
        <input type="checkbox" id="auto_refresh" onchange="auto_refresh(this);"/>
        <label for="auto_refresh">Auto Refresh (30 Seconds)</label>
    </div>

    <div id="graph_controls_advanced" class="section_toggle controls_toggle clickable" onclick="toggle_form_section(event);">
        Advanced Options
    </div>

    <div>
        <div>
            <b>Number of datapoints</b> 
        </div>
        <div>
            <input type="text" name = "granularity" id="granularity" value="{{granularity}}" onChange="refresh_graphs();"/>
        </div>
    </div>

    <script>
        collapse_all('controls_toggle');
        ready_datepickers();
    </script>
</div>
