{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" media="all" type="text/css" href="{{STATIC_URL}}css/main_page.css">

<div id="main_page">
    <div id="side_pane_anchor"><!--Used to tell us if user has scrolled this passed the top or not.--></div>
    <div id="side_pane">
        <div id="tabs">
            <ul>
                <li><a href="/portcullis/streams/">Graphs</a></li>
                <li><a href="#second_tab">Streams</a></li>
            </ul>
            <div id="first_tab"></div>
            <div id="second_tab">
                I am the second tabs content
            </div>
        </div>
    
    <script type="text/javascript">
        $(window).scroll(sidepane_relocate);
        ready_tabs();
    </script>
    </div><!--End side_pane-->

    <div id="content">
        {{content_pane|safe}}
    </div>
</div>

{% endblock content %}
