
<script type="text/javascript" src="{{STATIC_URL}}js/nav.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/controller.js"></script>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Portcullis</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li data-target="graphs"><a class="clickable">Graphs</a></li>
            {% if user.is_authenticated %}
                <li data-target="sensors"><a class="clickable">Sensors</a></li>
            {% endif %}
            {% if user.is_authenticated and user.is_superuser %}
                <li data-target="utilities"><a class="clickable">Utilities</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
