{% extends 'main_page.html' %}

{% block content_pane %}
    <div id="sensors-container">
        <div id="sensor-registration" style="margin-right: 300px;">
            <h3>Claim A Sensor</h3>
            <hr/>

            <form class="form-horizontal" id="sensor-claim-form" role="role">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="uuid">Sensor UUID</label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" id="uuid" placeholder="uuid" class="form-control">
                        <p class="help-block" id="uuid-msg"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4" for="name">Sensor Name</label>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" id="name" placeholder="name" class="form-control">
                        <p class="help-block" id="name-msg"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6">
                        <button type="submit" class="btn btn-primary">Claim</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6">
                        <p class="help-block" id="form-msg"></p>
                    </div>
                </div>
            </form>

            <h3>Claimed Sensor For {{user.first_name}} {{user.last_name}}</h3>
            <p class="text-danger" id="table-error-msg"></p>
            
            <table class="table table-striped table-bordered" data-bind="if: claimedSensors().length > 0">
                <thead>
                    <tr>
                        <th>UUID</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: claimedSensors">
                    <tr>
                        <td data-bind="text: uuid"></td>
                        <td data-bind="text: name"></td>
                    </tr>
                </tbody>
            </table>

            <span data-bind="if: claimedSensors().length <= 0" class="help-block">
                You currently do not have any claimed Sensors.
            </span>
        </div>
    </div>
    <script type="text/javascript" src="{{STATIC_URL}}js/sensor.js"></script>

    <script>
        $(function() {
            var sensor = $.fn.Sensor;
            sensor.init("{% url 'sensor-list' %}", "{{user.email}}");
        });
    </script>
{% endblock %}
