{% extends 'main_page.html' %}

{% block content_pane %}
    <div id="sensors-container" style="margin-right: 300px;">
        <h3>Claim A Sensor</h3>
        <hr/>

        <form class="form-horizontal" id="sensor-claim-form" role="role" data-bind="submit: claimSensor">
            {% csrf_token %}
            <div class="form-group" data-bind="css: {'has-error': sensorToAdd().uuid.hasError}">
                <label class="control-label col-lg-4 col-md-4" for="uuid">Sensor UUID</label>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="uuid" class="form-control" data-bind="value: sensorToAdd().uuid">
                    <p class="help-block" data-bind="text: sensorToAdd().uuid.errorMsg"></p>
                </div>
            </div>

            <div class="form-group" data-bind="css: {'has-error': sensorToAdd().name.hasError}">
                <label class="control-label col-lg-4 col-md-4" for="name">Sensor Name</label>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="name" class="form-control" data-bind="value: sensorToAdd().name">
                    <p class="help-block" data-bind="text: sensorToAdd().name.errorMsg"></p>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6">
                    <button type="submit" class="btn btn-primary">Claim</button>
                </div>
            </div>
            <div class="form-group" data-bind="css: {'has-error': hasError, 'has-success': hasError() == false}">
                <div class="col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6">
                    <p class="help-block" data-bind="text: formMsg"></p>
                </div>
            </div>
        </form>

        <h3>Claimed Sensor For {{user.first_name}} {{user.last_name}}</h3>
        <div id="users-claimed-sensors">
            <p class="text-danger" data-bind="text: tableMsg"></p>
            
            <table class="table table-striped table-bordered" data-bind="if: claimedSensors().length > 0">
                <thead>
                    <tr>
                        <th>UUID</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: claimedSensors">
                    <tr>
                        <td data-bind="text: uuid"></td>
                        <td data-bind="text: name"></td>
                    </tr>
                </tbody>
            </table>

            <span data-bind="if: claimedSensors().length <= 0" class="help-block">
                You currently do not have any claimed Sensors.
            </span>
        </div>
    </div>
    
    <script type="text/javascript" src="{{STATIC_URL}}js/sensor.list.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sensor.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/sensorForm.js"></script>

    <script>
        $(function() {
            var sensorForm = new $.fn.SensorForm();
            sensorForm.init({'sensorUri': "{% url 'sensor-list' %}", 'owner': "{{user.email}}"});
            ko.applyBindings(sensorForm, $('#sensor-claim-form').get(0));
        });
    </script>
{% endblock %}
