
<div id="graph_container_heading">
    <h1> Sensor Readings</h1>
    <input type="hidden" id="auth_token" value="{{token}}" />
    <h2 id="utc_stamp"></h2>
</div>    

<div id="graph_container">
    
    <!-- Create a placeholder for each datastream -->
    {% for widget in view.widget.all %}
    <div id="graph_container_{{widget.saveddsgraph.datastream.id}}" class="graph_container">
        <input type="hidden" id="saved_graph_{{widget.saveddsgraph.datastream.id}}" value="{{widget.id}}" />
        <b id = "graph_title{{widget.saveddsgraph.datastream.id}}" class="graph_title"> </b>
        
        <div id ="{{widget.saveddsgraph.datastream.id}}" class="portcullis-graph">
            <div id="sensor{{widget.saveddsgraph.datastream.id}}" class="sensor_graph" ></div>
            <div id="overview{{widget.saveddsgraph.datastream.id}}" class = "overview_graph"></div>
        </div><!--end graph div-->
        
        <div id="{{widget.saveddsgraph.datastream.id}}_csv_container" style="display: none"><!--csv div-->
            <textarea id="sensor{{widget.saveddsgraph.datastream.id}}_csv"></textarea>
        </div><!--end csv div-->

        <div class="section_toggle graph_toggle" onclick="toggle_form_section(event)">Advanced Options</div>
        <div id="advanced_options_{{stream.id}}" class="advanced_options">
            <div id="stream_data_container_{{widget.saveddsgraph.datastream.id}}" class="stream_data_container">
                <ul>
                    <li>Node: {{widget.saveddsgraph.datastream.node_id}}</li>
                    <li>Port: {{widget.saveddsgraph.datastream.port_id}}</li>
                    <li>Data In Range: <span id="datapoints_{{widget.saveddsgraph.datastream.id}}"><!-- Hook for number of data points for given range--></span></li>
                    <li>Actual Data Shown: <span id="actual_datapoints_{{widget.saveddsgraph.datastream.id}}"><!-- Hook for number of data points for given graph--></span></li>
                    <li>Selected Datapoint</li>
                    <ul>
                        <li>Value: <span id="selected_value_{{widget.saveddsgraph.datastream.id}}"></span></li>
                        <li>Time: <span id="selected_time_{{widget.saveddsgraph.datastream.id}}"></span></li>
                    </ul>
                </ul>
            </div>
        
            <div id="stream_controls_container_{{widget.saveddsgraph.datastream.id}}" class="stream_controls_container">
                <input type="button" value="Zoom Reset" onClick="resetZoom('{{widget.saveddsgraph.datastream.id}}');"/>
                <input type="checkbox" id="zoom_sync_{{widget.saveddsgraph.datastream.id}}" value="{{widget.saveddsgraph.datastream.id}}" class="stream_zoom" checked="checked"/> <label for="zoom_sync_{{widget.saveddsgraph.datastream.id}}">Zoom Sync</label>
                <label for="reduction_select_{{widget.saveddsgraph.datastream.id}}">Reduction Type:</label>
                <select id="reduction_select_{{widget.saveddsgraph.datastream.id}}" class="reduction_select" 
                        onchange="loadGraph('{{widget.saveddsgraph.datastream.id}}', 
                                  $('#granularity').val(), 
                                  getRanges(), 
                                  graph_overview_callback(getRanges()));">
                    {% for red in reductions %}
                    {% if red == "mean" %}
                    <option value="{{red}}" selected="selected">{{red|title}}</option>
                    {% else %}
                    <option value="{{red}}">{{red|title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <p id="downloadify{{widget.saveddsgraph.datastream.id}}"><!--Place holder for download button--></p>
            </div>
        </div><!--End advanced_options_{{stream.id}}-->
    </div><!--End graph_container_id -->
    {% endfor %}
    <script>
        //On load function will search for any 'portcullis-graph' divs on the page.
        $("document").ready(on_graphs_load());
        loadAllSharedGraphs(getRanges());
        collapse_all();
    </script>
</div><!--End graph_container -->

