{% load url from future %}


<div class="side-nav">

    <div class="graphs"></div>
    
    <div class="utilities" style="display: none">
        <ul>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'datastream');">
                    Manage Streams
                </span>
            </li>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'sensor');">
                    Manage Sensors
                </span>
            </li>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'claimedsensor');">
                    Manage Claimed Sensors
                </span>
            </li>
            <li>
                <span id="manage_users" class="clickable_text"
                      onclick="load_model_grid('portcullis', 'portcullisuser');">
                    Manage Users
                </span>
            </li>
            <li>
                <span id="manage_scaline_functions" class="clickable_text"
                      onclick="load_model_grid('graphs', 'scalingfunction');">
                      Manage Scaling Functions
                </span>
            </li>
            <li>
                <span id="manage_snmp_host" class="clickable_text"
                      onclick="load_model_grid('snmpPoller', 'host');">
                      Manage SNMP Hosts
                </span>
            </li>
            <li>
                <span id="manage_snmp_host" class="clickable_text"
                      onclick="load_model_grid('snmpPoller', 'snmpstream');">
                      Manage SNMP Streams
                </span>
            </li>
        </ul>
    </div>
</div>
