
{# If it is a node, make a clickable that will ajax call stream_subtree. Otherwise, checkbox. #}
<ul class="streams">
    {% for name, leaf in nodes.items %}
        <li>
            {% if leaf %}            
                <div id="stream_span_{{leaf.id}}">
                    <input type="checkbox" class="stream" id="stream_{{leaf.id}}"
                           value="{{leaf.id}}" onChange="load_unload_stream(this);
                           reset_check_all(this, 'owned_checkall');">
                    <label for="stream_{{leaf.id}}">{{leaf.name}}</label>
                </div>
            {% else %}
                <div id="{{path}}{{name}}" class="subtree_toggle clickable" onclick="toggle_subtree(event);">
                    <span class="collapse_state">+</span>
                    {{name}}
                </div>
                <div style="display: none; position: relative; padding-left: 1em"></div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
