<head>
    {% load static from staticfiles %}
    <script language="javascript" type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/json2.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/checkbox.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
    <link rel="stylesheet" media="all" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.7.3.custom.css" />
</head>
<body>

{%block content%}

<div>
    {% if user.first_name %}
        Hello {{user.first_name}} {{user.last_name}} (<a href="/portcullis/logout/">logout</a>)
    {% endif %}     
</div>

</br>

<form action="/graphs/" >

    {% if owned_streams %}
        <b> My Streams</b> </br>
        <!-- Create a checkbox for each datastream owned by this user-->
        {% for stream in owned_streams%}
            <input type="checkbox" name="owned" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
        <input type="checkbox" onClick="checkOwned(this)" /> Check All <br>

    {% endif %}

    {% if viewable_streams%}
        <b>Viewable Streams</b> </br>
        <!-- Create a checkbox for each public datastream -->
        {% for stream in viewable_streams%}
            <input type="checkbox" name="view" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
        <input type="checkbox" onClick="checkView(this)" /> Check All <br>
    {% endif %}

    {% if public_streams %}
        <b>Public Streams</b> </br>
        <!-- Create a checkbox for each public datastream -->
        {% for stream in public_streams%}
            <input type="checkbox" name="public" class="stream" value="{{stream.id}}" /> {{stream.name}} <br>
        {% endfor %}
        <input type="checkbox" onClick="checkPublic(this)" /> Check All <br>

    {% endif %}

    </br>

    <input type="submit" value="Submit"/>
</form>

   <div id="debug"></div>
</body>
{%endblock%}

