{% extends "main_page.html" %}

{% block side_pane %}

<script type="text/javascript" src="{{STATIC_URL}}js/utilities.js"></script>

<div class="side-nav">
    <div class="utilities">
        <ul>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'datastream');">
                    Manage Streams
                </span>
            </li>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'sensor');">
                    Manage Sensors
                </span>
            </li>
            <li>
                <span id="manage_devices" class="clickable_text"
                      onclick="load_model_grid('graphs', 'claimedsensor');">
                    Manage Claimed Sensors
                </span>
            </li>
            <li>
                <span id="manage_users" class="clickable_text"
                      onclick="load_model_grid('portcullis', 'portcullisuser');">
                    Manage Users
                </span>
            </li>
            <li>
                <span id="manage_scaline_functions" class="clickable_text"
                      onclick="load_model_grid('graphs', 'scalingfunction');">
                      Manage Scaling Functions
                </span>
            </li>
        </ul>
    </div>
</div>

{% endblock side_pane %}

{% block content_pane %}
<div id="utilities-container"></div>
{% endblock content_pane %}
