.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-datepicker { display: none; }



#share_link div
{
    display: inline;
    width: 7em;
}

/*********** Side Pane ***********/

#graph_page_controls input[type=radio]
{
    margin-left: 1em;
}

#start
{
    width: 12em;
}

#end
{
    width: 12em;
}

#end_label
{
    margin-top: 1em;
}

#graph_time_controls ul
{
    list-style: none;
    padding-left: 0;
}

#shared_graph_controls
{
    margin-left: 2em;
    width: 600px;
    position: absolute;
}

#graph_controls_advanced
{
    border: 1px solid gray;
    text-align: center;
    width: 80%;
}

.date_range_seperator
{
    text-indent: 5em;
}

#graph_options_submit
{
    margin-top: 1em;
}

/*********** Graphs ***********/


.empty_graph_msg
{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

.portcullis-graph
{
    margin-left: 3em;
}

#graph_container
{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#graph_container_heading
{
    margin-left: 3em;
}

#shared_graph_container
{
    margin-left: 700px;
}

.advanced_options
{
    margin-top: 1em;
}

.graph_toggle.section_toggle
{
    border: 1px solid gray;
    width: 100%;
    text-align: center;
}

.graph_selection span:first-child
{
    margin-right: 1em;
}

.graph_selection
{
    margin-left: 2.5em;
    margin-bottom: 1em;
}

.graph_container
{
    border: solid 3px gray;
    margin-top: 3em;
    width: 95%;
    padding-top: 2em;
    position: relative;
    overflow: hidden;
}

.stream_data_container
{
    float: left;
    display: block;
    margin-left: 1em;
}

.stream_data_container ul
{
    list-style: none; 
    padding: 0;
}

.stream_controls_container
{
    width: 13em;
    margin-right: 1em;
    float: right;
    display: block;
}

.portcullis_graph { height:400px }

.sensor_graph
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right:2em;
    height:300px;
}

.overview_graph
{
    margin-right: 2em;
    height:100px;
    margin-bottom:20px;
}

.reduction_select
{
    margin-top: .5em;
}
